body{
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(90deg, hsla(298, 68%, 90%, 1) 0%, hsla(30, 82%, 91%, 1) 100%);
}

.main-title{
    color: black;
    text-align: center;
}

.side-text{
    color: black;
    text-align: center;
}