body{
    background: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-title{
    text-align: center;
    color: white;
}

.side-title{
    text-align: center;
    color: white;
}

.link{
    color: white;
    text-decoration: underline;
    font-size: 36px;
}